.bills-list {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    grid-gap: var(--spacing-large);
    margin-left: var(--spacing-large);
    margin-right: var(--spacing-large);
}

.bills-card {
    padding: var(--spacing-large);
    background-color: var(--color-white);
    color: var(--color-grey-dark-3);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.card-header {
    display: flex;
    justify-content: space-between;
    align-items: baseline;
    font-size: var(--font-small);
}

.card-body {
    flex: 2;
    padding-top: var(--spacing-large);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    font-size: var(--font-smaller);
}

.card-footer {
    display: flex;
    padding-top: var(--spacing-large);
}