.btn {
    border: 0;
    padding: var(--spacing-medium) var(--spacing-larger);
    font-size: var(--font-medium);
    border-radius: 0;
    display: inline flex;
}

.btn-primary {
    background-color: var(--color-primary-dark-3);
    color: var(--color-white);
}

.btn-success {
    background-color: var(--color-green);
    color: var(--color-white);
}