.main-info-panel {
    background-color: var(--color-white);
    color: var(--color-grey-dark-1);
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.main-info-item {
    width: 100%;
    padding: var(--spacing-medium);
    border-right: 1px solid var(--color-grey-light-2);
}

.main-info-item-header {
    color: var(--color-grey-light-4);
    padding-bottom: var(--spacing-small);
}
