.main-info-panel {
    background: linear-gradient(to right, var(--color-grey-dark-3), var(--color-grey-dark-4));
    color: var(--color-primary-light-1);
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: var(--spacing-large) var(--spacing-large);
    border-radius: 3px;
}

.main-info-item {
    width: 100%;
    padding: var(--spacing-medium);
}

.main-info-item-header {
    color: var(--color-primary-light-2);
    padding-bottom: var(--spacing-small);
}
