@import "variables.css";
@import "nav.css";
@import "bills.css";
@import "buttons.css";

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
}

body {
    background-color: var(--color-grey-light-1);
    font-family: 'Work Sans', sans-serif;
    font-size: 1.6rem;
}

.container {
    display: flex;
    height: 100vh;
}

a {
    text-decoration: none;
    color: var(--color-white);
}

a:visited {
    color: var(--color-white);
}

ul {
    list-style-type: none;
}