@import "variables.css";
@import "nav.css";
@import "bills.css";
@import "buttons.css";

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
}

body {
    background-color: var(--color-grey-light-1);
    font-family: 'Work Sans', sans-serif;
}

.container {
    display: flex;
    height: 100vh;
}

a {
    text-decoration: none;
    color: var(--color-white);
}

a:visited {
    color: var(--color-white);
}

ul {
    list-style-type: none;
}

@media (max-width: 1200px) {
    html {
        font-size: 58%;
    }
}

@media (max-width: 992px) {
    html {
        font-size: 55%;
    }
}

@media (max-width: 768px) {
    html {
        font-size: 52%;
    }

    .side-nav {
        display: none;
    }

    .bills-list {
        justify-content: center;
    }
}

@media (max-width: 576px) {
    html {
        font-size: 52%;
    }

    .side-nav {
        display: none;
    }

    .bills-list {
        justify-content: center;
    }

    .bills-card {
        width: 90%;
    }
}