nav {
    background-color: var(--color-grey-dark-2);
}

.side-nav {
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

@media (max-width: 768px) {
    .side-nav {
        display: none;
    }
}

.brand {
    font-size: var(--font-medium);
    display: flex;
    justify-content: center;
    align-items: center;
    padding: var(--spacing-large);
    border-bottom: .5px solid var(--color-white);
}

.brand a {
    color: var(--color-white);
}

@media (max-width: 768px) {
    .brand {
        display: flex;
        justify-content: space-between;
    }
}

.side-nav a {
    color: var(--color-white);
    padding: var(--spacing-medium);
    width: 100%;
}

.side-nav a:hover {
    background-color: var(--color-primary-dark-1);
}

.side-nav li {
    display: flex;
}

.active {
    border-left: 3px solid var(--color-primary-dark-1);
}

.icon {
    width: var(--font-large);
    height: var(--font-large);
    fill: var(--color-white);
    margin-right: var(--spacing-medium);
}

.menu-icon {
    display: none;
    fill: var(--color-white);
}

@media (max-width: 768px) {
    .menu-icon {
        display: block;
    }
}