nav {
    height: 100%;
    font-size: var(--font-medium);
}

.side-nav {
    background-color: var(--color-grey-dark-1);
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.side-nav a {
    width: 100%;
    /* padding-top: var(--padding-small);
    padding-bottom: var(--padding-small); */
    padding: var(--padding-medium);
    width: 300px;
}

.side-nav a:hover {
    background-color: var(--color-grey-dark-5);
}

.active {
    background-color: var(--color-grey-dark-3);
}

.icon {
    width: var(--font-medium);
    height: var(--font-medium);
    fill: var(--color-white);
}